main{
  height: 400%;
  color: #fff; 
  background-color: #0f4c82;
} 
main .h2{
  width: 100%;
  font-size: 80px;
  transition: all 0.5s;
  font-family: 'Black Han Sans', sans-serif;
  width: fit-content;
  margin: 0 auto;
}
main a{
  color: #fff;
}
main section{
  height: calc(100% / 4);
} 
main section .wrap{ 
  width: calc(100% - 60px);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}
.wrap .subject{
  opacity: 0;
  transform: translateY(-100%);
}
.subject.currentH2{
  transform: initial; 
  opacity: 1;
}
/* ---------------------------------------- 소개 ---------------------------------------- */
#about{ 
  background-attachment: fixed;
  background-size: 100%;
  background-position-y: 60%;
}
#about .wrap{   
  justify-content: space-around;
  box-sizing: border-box;
}
#about h2{    
  padding-top: 20px; 
  position: relative;
}
#about h2:hover{
  color: #fcf951;
}
#about h2::after{
  content: "";
  background-color: #fcf951;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 20px;
  position: absolute;
}
#about .intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about .intro h3.h3  {
  font-size: 0;
  width: 490px;
  height: 490px;
}
#about .intro h3.h3::before{
  content: "";
  background: url(../img/about.jpg);
  display: block;
  height: 450px;
  width: 450px;
  background-size: cover;
  border-radius: 10px;
  transition: all 0.5s;
  background-position: center;
  width: 100%;
  height: 100%;
}
#about .intro .p{
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  border-radius: 10px;
  width: fit-content;
  box-sizing: border-box;
  letter-spacing: -1px;
  line-height: 2; 
}
#about .intro .p span{  
  font-weight: 700;
  font-size: 30px;
}

/* ---------------------------------------- 스킬 ---------------------------------------- */
#skills {
}
#skills .wrap {  
  justify-content: space-around;
}
#skills h2 {  
}
#skills h2:hover{
  color: #fcf951;
}
#skills h2::after {
  content: "";
  background-color: #fcf951;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 15px;
  position: absolute;
}
#skills .wrapin{

}
#skills .wrapin h3.h3{  
  width: 100%;
  font-size: 50px;
  margin-bottom: 50px;
}
#skills .wrapin h3.h3:nth-of-type(1){
  font-size: 60px;
  font-weight: 800;
}
#skills ul.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}
#skills ul.skills li {  
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: calc(100% / 3);
  align-items: center;
}
#skills ul.skills li::before{
  content: "";
  width: 100px;
  height: 100px;
}
#skills ul.skills li:nth-of-type(1)::before{
  background: url(../img/html5.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
#skills ul.skills li:nth-of-type(2)::before{
  background: url(../img/css3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#skills ul.skills li:nth-of-type(3)::before{
  background: url(../img/js.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#skills ul.skills li h4.h3 {
  margin: 20px 0;
}
#skills ul.skills li p.p {  
  font-size: 30px;
  font-weight: 600;
}
#skills ul.tool{  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
#skills ul.tool>h3.h3{ 
  width: 100%;
  font-size: 50px;
  margin-bottom: 100px;
}
#skills ul.tool li{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: calc(100% / 4);
  align-items: center;
}
#skills ul.tool li::before{
  content: "";
  width: 100px;
  height: 100px;
}
#skills ul.tool li:nth-of-type(1)::before{
  background: url(../img/vscode.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; 
}
#skills ul.tool li:nth-of-type(2)::before{
  background: url(../img/sass.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#skills ul.tool li:nth-of-type(3)::before{
  background: url(../img/ps.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#skills ul.tool li:nth-of-type(4)::before{
  background: url(../img/bootstrap.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#skills ul.tool li h4.h3{
  
}
/* ---------------------------------------- 포트폴리오 ---------------------------------------- */
#portfolio {
  
}
#portfolio .wrap {
  justify-content: start;
  width: 70%;
  position: relative;
}
#portfolio  h2 {
  margin: 5% auto 0;
  position: relative;
}
#portfolio h2:hover{
  color: #fcf951;
}
#portfolio h2::after {
  content: "";
  background-color: #fcf951; 
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 15px;
  position: absolute;
}
#portfolio ul.filterBt{ 
  display: flex;
  width: 400px;
  margin: 40px auto 0;
  justify-content: space-between;
  height: 30px;
}
#portfolio ul.filterBt li{
}
#portfolio ul.filterBt li a{ 
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7788997a;
  border-radius: 15px;
  transition: all 0.3s;
}
#portfolio ul.filterBt li a:hover{  
   background-color: #789;
}
.currentBt{
  background-color: #789 !important;
}
.liHide{
  opacity: 0;
}
#portfolio .swiper{
  width: 100%;
  height: 100%;
}
#portfolio .list{
  display: flex;
  justify-content: space-between;
  height: 95%;
  flex-wrap: wrap;
  margin-top: 3%;   
}
#portfolio ul.list li{
  border-radius: 10px;
  background-color: #fff3;
  width: 32%;
  transition: all 0.5s;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  perspective: 500px;
  border: 2px solid #fff;
  box-sizing: border-box;
}
#portfolio ul.list li .screen{
  transition: all 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0007;
  border-radius: 10px;
  width: 100%;
}
#portfolio ul.list li:nth-child(1) .screen,
#portfolio ul.list li:nth-child(4) .screen{
  transform: translateX(-100%);
}
#portfolio ul.list li:nth-child(3) .screen,
#portfolio ul.list li:nth-child(6) .screen{
  transform: translateX(100%);
}
#portfolio ul.list li:nth-child(2) .screen{
  transform: translateY(-100%);
}
#portfolio ul.list li:nth-child(5) .screen{
   transform: translateY(100%);
}
#portfolio ul.list li:hover .screen{
  transform: translateY(0);
}
#portfolio ul.list li h3 { 
  transition: all 0.5s;
  line-height: 1;
  padding: 20px 0;
  font-size: 35px;
}
#portfolio ul.list li:nth-last-child(1) h3{
  display: block;
}
#portfolio ul.list li p { 
  line-height: 1.4;
  color: #fff;
  transition: all 0.5s;
  letter-spacing: -1px;
  font-size: 20px;
}
#portfolio ul.list li .btControl{
  display: flex;
  justify-content: center;
}
#portfolio ul.list li .btControl a{
  width: 40%;
}
#portfolio ul.list li.liHide .btControl a{
  position: relative;
  z-index: -1;
}
#portfolio ul.list li .previewBt{
  font-size: 18px;
}
#portfolio ul.list li .link{
  font-size: 18px;
}
#portfolio .preview{  
  width: 50%;
  height: 95%;
  position: absolute;
  top: 3%;
  left: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 10px;
  z-index: 1;
}
#portfolio .closeBt{
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: 1;
  color: #000;
  top: 77%;
  left: 64%;
  width: fit-content;
  height: fit-content;
}
/* ---------------------------------------- 연락처 ---------------------------------------- */
#contact {
  display: flex;
  color: #fff;
  position: relative;
}
#contact div.wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#contact .h2 {
  color: #fff;
  transition: all 0.5s;
  width: fit-content;
  margin: 0 auto;
  font-family: 'Black Han Sans', sans-serif;
  position: relative;
}
#contact h2:hover{
  color: #fcf951;
}
#contact  h2::after {
  content: "";
  background-color: #fcf951;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 15px;
  position: absolute;
}
#contact h2+p {
  font-size: 20px;
  line-height: 3;
  font-weight: 500;
}
#contact strong {
  font-size: 30px;
  display: block;
}
#contact .gform{
  
} 
#contact .gform .form-elements{
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: end;
}
#contact .gform .form-elements .pure-group{
  width: calc(100% / 2 - 20px);
  display: flex;
  /*! justify-content: space-between; */
  margin: 10px;
  flex-wrap: wrap;
}
#contact .gform .form-elements .pure-group:nth-of-type(3){
  width: 100%;
}
#contact .gform .form-elements .pure-group input{
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px;
}
#contact .gform .form-elements .pure-group label{
  width: 100px;
  text-align: left;
  margin: 5px;
}
#contact .gform .form-elements .pure-group #name ,
#contact .gform .form-elements .pure-group #email{
  width: 50%;
}
#contact .gform .form-elements .pure-group textarea{
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px;
}
#contact .button-success{
  display: block;
  width: 100%;
  margin: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 20px;
  transition: all 0.5s;
}
#contact .button-success:hover{
  background-color: #fff;
  color: #000;  
}
#contact div.info {
  display: flex;
  justify-content: space-evenly;
  text-align: start;
  line-height: 1.6;
  gap: 50px;
}
#contact div.ad { 
  height: 143.4px;
  overflow: hidden;
  width: 300px;
}
#contact div.ad h3 {  
  cursor: pointer;
}
#contact div.ad h3::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 5px solid;
  border-bottom: none;
  border-left: none;
  transform: translate(180px,8px) rotate(-45deg);
  transition: all 0.5s;
}
#contact div.ad h3.rot180::after{
  transform: translate(180px,-3px) rotate(135deg);
}
#contact .p{
  font-size: 18px;
  width: fit-content;
}
#contact .p a{  
  color: #fcf951;
}
#contact div.ad .p {
  /*! transform: translateY(-150px); */ 
  /*! transition: all 0.5s; */
  margin-bottom: 5px; 
}
.adShow{
  transform: initial !important;
}
#contact div.ad .p span{
  color: #fcf951;
}
#contact div.sns {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#contact div.sns::after{
  content: "";
  display: block;
  width: 315px;
  height: 137px;
  position: absolute;
  background-color: #5782a6;
  right: 0;
  top: 0;
  border-radius: 10px;
  z-index: -1;
}
#contact div.sns h3 {
  width: 100%;
  font-size: 0;
  display: none;
}
#contact div.sns .p {  
  font-size: 0;
  height: 70px;
  overflow: hidden;
}
#contact div.sns .p a{
  padding: 10px;
  display: block;
  font-size: 0;
}
#contact div.sns .p:nth-child(3) a{
  padding: 5px 0 0 0;
}
#contact .sns .p a::before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-size: 100%;
}
#contact .sns .p:nth-child(2) a::before{
  background-image: url(../img/kakaotalk.png);
}
#contact .sns .p:nth-child(3) a::before{
  background-image: url(../img/instagram.png);
  width: 60px;
  height: 60px;
}
#contact .sns .p:nth-child(4) a::before{
  background-image: url(../img/github.svg);
}
