body .swiper-button-next, 
body .swiper-button-prev{
  
}

body .swiper-button-next{  
  right: -50px;
  color: initial;
  opacity: 0.5;
}

body .swiper-button-prev{  
  left: -50px;
  color: initial;
  opacity: 0.5;
}

body .swiper-button-next::after, 
body .swiper-button-prev::after{
  font-size: 50px;
}
body .swiper-button-next.swiper-button-disabled, 
body .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}

body .btnA{
  position: absolute;
  top: 62%;
  left: 0%;
  width: 100%;
}