#title {
  height: 100%;
  color: #fff;
  background-image: url(../img/title2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 83%;
  overflow: hidden;
}
#title a{
  color: #fff;
}
#title .wrap { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #0005; 
}
#title hgroup {
  line-height: 1.2;
  margin: 0 auto;
  transform: translateX(200%);
  opacity: 0;
  transition: all 0.7s;
}
.slideright{
  opacity: 1 !important;
  transform:translateX(0%) !important;
}
#title hgroup .h2{
  font-size: 60px;
  width: fit-content;
  font-weight: 900;
}
#title hgroup .h2 span:nth-child(1) {
  text-shadow: 30px 30px 30px #000; 
}

#title hgroup .h2 span:nth-child(2) { 
  font-size: 130px;
  font-family: 'Black Han Sans', sans-serif;
  transition: all 0.5s;
  color: #fcf951;
  text-shadow: 5px 5px #000;
}

#title hgroup .h2 span:nth-child(n):hover {
  color: #fcf951;
}
#title hgroup .h2 span:nth-child(2)::after {
  content: "";
  background-color: #fcf951;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 15px;
}

#title hgroup .h2 span:nth-child(3){ 
  width: 100%;
  text-align: end;
  font-size: 60px;
  transition: all 0.5s;
  margin-top: -25px;
}
